body{
    margin: 0;
    font-family: Georgian;
    color: white;
    line-height: 1.5;
}
p {
    margin: 0;
}

.line{
    height: 5px;
    background-color:#98caa2;
}

/*container*/
.container {
    height: 600px;
    background-color:#2c0a06;
}
.header{
    display:flex;
    justify-content: space-between;
}

/*Logo*/
.logo {
    margin: 0px 120px;
    padding-top: 40px;
}

.logo_main{
    font-size: 28px;
}

.logo_small{
    color: #a6a6a6;
    font-size: 11px;
}

/*nav*/
.nav{
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 45px;
}

.nav-link{
    text-decoration: none;
    margin: 0 20px;
    color: white;
    padding: 12px 12px;
    transition: background .2s linear;
}

.nav-link:hover {
    background-color:#98caa2;
    border-radius: 5px;
}

.arrow1{
    width: 15px;
    height: 28px;
    display: block;
    padding-top: 230px;
    padding-left: 45px;
    padding-right: 45px;
}.arrow2{
    width: 15px;
    height: 28px;
    display: block;
    padding-top: 230px;
    padding-left: 45px;
    padding-right: 45px;
}

.main_page{
    display:flex;
    width: 75%;
    margin: 30px auto;
    justify-content: space-between;
}
.main_title {
    font-size: 48px;
    line-height: 1;
}
.main_page_text{
    font-size: 12px;
    color: #a6a6a6;
}
/*circle*/
.circle{
    height: 405px;
    width: 405px;
    border-radius: 50%;
    background-color: #444444;
    border: 25px #7d7d7d solid;


}
.circle_text{
    font-size: 26px;
    padding-top: 45%;
    text-align: center;
}

.main_text{
    margin-top: 100px;
    padding-right: 45px;
    
}

.main_buttom{
    text-align: center;
    margin-top: 45px;
    width: 145px;
    height: 25px;
    transition: background .2s linear;
}
.main_buttom:hover{
    background-color:#98caa2;
    border-radius: 5px;
}

/*container2*/

.container2{
    height: 973px;
    background-color: #6e180e;
}

.servise_title{
    height: 305px;
    width: 960px;
    display:flex;
    margin: 0px auto;
    padding-top: 60px;
    justify-content: space-between;
}
.st {
    height: 305px;
    width: 225px;
    background: white;
    transition: background .2s linear;
    transition: color .2s linear;
    color: #a6a6a6;
    font-size: 12px;
    text-align: center;


}
.st:hover {
    height: 305px;
    width: 225px;
    background:#98caa2;
    color: white;
}
.st:hover .st_header{
    color: white;
}
.st:hover .box{
    background-color: white;
    color: #444444;
}
.st_header {
    color: #444444;
    font-size: 32px;
    margin: 0;
    transition: background .2s linear;
    transition: color .2s linear;
}
.box {
    height: 80px;
    width: 120px;
    background: #444444;
    margin: 20px auto;
    text-align: center;
    padding-top: 40px;
    font-size: 18px;
    transition: background .2s linear;
    transition: color .2s linear;
}

.lw {
    text-align: center;
    margin: 20px auto;
    font-size: 32px;
    color: white;
    background-color: #414141;
    border-radius: 5px;
    width: 260px;
    position: relative;
    z-index: 10;
}
.line_grey {
    height: 4px;
    width: 960px;
    background-color: #414141;
    margin: 0 auto;
    position: relative;
    bottom: 45px;
    z-index: 0;
}

.lw_box {
    display: flex;
    width: 962px;
    margin: 0 auto;
}
.lw_box1 {
    height: 120px;
    width: 290px;
    color: white;
    background-color: #414141;
    margin: 20px auto;
    text-align: center;
    border: 5px #ffffff solid;
    padding-top: 80px;
    transition: background .2s linear;
    transition: color .2s linear;
    
}
.lw_box2 {
    margin: 0px auto;
    background-color: black;
    margin-top: 72px;
}

.lw_box1:hover {
    border: 5px #98caa2 solid;
}
.lw_box1:hover .lw_box2 {
    background-color: #414141;
    color: #414141;
}

/*container3*/

.container3 {
    height: 387px;
    background-color: #414141;
    display: flex;
}
.blog {
    margin: 20px auto;
    width: 225px;
}
.head {
    font-size: 21px;
    color: white;
    margin-bottom: 38px;
    
}
.buttom{
    margin-top: 20px;
    height: 25px;
    color: #98caa2;
}

.underline {
   background-color: #525252; 
   width: 225px;
   height: 2px;
   margin: 5px auto;
}

.input {
    background-color: #313131;
    color: #a7a7a7;
    font-size: 13px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px auto;
    box-shadow: none;

}
.buttom2 {
    color: #414141;
    background-color: #98caa2;
    width: 75px;
    height: 25px;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
    font-size: 15px;
}
 .line2 {
    height: 2px;
    background-color: black; 
 }
 .line3 {
    height: 2px;
    background-color: #4c4c4c;
    margin: 0px;
 }
/*container4*/

.container4 {
    height: 60px;
    background-color: #282828;
}
.end {
    font-size: 15px;
    color: #a6a6a6;
    padding-top: 20px;
    padding-left: 15px; 
}